.color{
    background-color:darkmagenta;
}
body{
    background-color:lemonchiffon;
}
.data{
    background-image: linear-gradient(pink,purple);
}
.dogimage{
    width:372px;
    height:300px;
 }
 .card{
    border-radius: 5%;
 }